/*
#profile-name {
	display: block;
	font-size: 2em;
}

#main, #bio{
   
    grid-column: 1/ span 3;
    grid-row: 3;
}*/

/*
#bio{
    grid-column: 1/ span 5;
}
*/



/*
#profile{
 display: grid;
}
*/


#main, #profile-name{
    grid-column: 1/ span 3;
}


/*
#profile img{
    width: 100%;
}
*/


/*
    grid-column: 1/span 2;
    grid-row:5;
*/
    


/*

#main, #input{
    grid-column: 1/span 2;
    grid-row: 5;
}
 #add-image{
grid-column: 2/ span3;
    grid-row: 5;
}
*/
