/*
#profile-name {
	display: block;
	font-size: 2em;
}

#main, #profile-name{
    grid-column: 1/ span 1;
    grid-row: 2;
    
    
}
#main, #bio{
   
    grid-column: 1/ span 3;
    grid-row: 3;
}*/

/*
#bio{
    grid-column: 1/ span 5;
}
*/

#main, #profile-name{
    grid-column: 1/ span 2;
}
