
    body {background-color: blanchedalmond;
    font-size:40px;}

        h1   {
    
    color: black;
    font-family: Aril;
            
    


}
p    {
    
    color: black;
    font-family:Aril;
    padding-left: 20px;
    padding-right: 25px;
    
}
        img {
            padding-left: 100px;
            padding-right: 100px;
            
        }
        
        
    
   